body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('travel1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

header {
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

nav {
    background-color: #004d99;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    display: inline-block;
}

nav a:hover {
    background-color: #003366;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color:black;
    font-weight: bold;
    margin-top: 20px;
}

.home {
    text-align:left;
    padding: 20px;
    background-color:transparent;
    margin: 20px auto;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.package {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.package h3 {
    color: #0066cc;
}

.package p {
    font-size: 16px;
}

.package button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.package button:hover {
    background-color: #004d99;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #004d99;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}